<!DOCTYPE html>
<html>
<head>
	<title>bootStrap3</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="css/offcanvas.css">
	<link type="text/css" rel="stylesheet" href="css/bootstrap-lightbox.css">
	<link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top ">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">UrbanHravester.org</a>
				<div class="container">
					<a href="login.html" class="navbar-btn btn-warning btn pull-right" >LogIn</a>
					<a href="register.html" class="navbar-btn btn-info btn pull-right"style="margin-right: 10px;">Register</a>
				</div>
				<button class="navbar-toggle" data-toggle ="collapse" data-target = ".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container" style="background-color: white;">
		<div class="navbar-header">
			<img src="img/urban.png" width="100%" height="300px">
		</div>
		<div class="navbar-header pull-right collapse navbar-collapse navHeaderCollapse">
			<input type="text" class="span3 search-query" placeholder="Search..">
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
		<div class="container" style="background-color: #242b38;">
			<div class="collapse navbar-collapse navHeaderCollapse" >
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">Our Mission</a></li>
					<li><a href="contact.html">Help Us Grow</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Contact Urban Harvester</a></li>
							<li><a href="#">Higjlights</a></li>
							<li><a href="#">Partner Agency</a></li>
						</ul>
					</li> 
					<li><a href="feature.html">Donate/Recieve Food</a></li>
					<li><a href="about.html">Photos</a></li>
					<li><a href="#contact" data-toggle="modal">Media</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="container">
				<form class="well span6">
					<label>UserName</label><br>
					<input type="text" class="span3" placeholder="Enter yourusername..."><br>
					<label>Password</label><br>
					<input type="text" class="span3" placeholder="Enter yourusername..."><br>
					<button class="btn btn-primary">Submit</button>
					<button class="btn">Clear</button>
				</form>
			</div>
		</div>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">Site built by FrugalLab(SCU)</p>
			<a href="http://youtube.com" class="navbar-btn btn-danger btn pull-right">Subcribe on YouTube</a>
		</div>
	</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
<script src="js/bootstrap.js"></script>
<script src="js/offcanvas.js"></script>
<script src="js/popover.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/bootstrap-lightbox.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>